# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
*.vshost.*
*.vspscc
*.scc
_Resharper.*/
*.DotSettings
.idea/
.vs/
ReSharper/
.nupkgs
nupkgs
.DS_Store
# Visual Studio Code
.vscode/
# Exclude specific VS Code files if you don't want them versioned (e.g., user settings)
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json